<header>
  <!-- Top navigation -->
  <nav id="top-nav">
    <div class="nav-container">
      <div class="actions">
        <a href="/login" class="login">Iniciar sesión</a>
        <a href="/signup" class="signup">Crear cuenta</a>
      </div>
    </div>
  </nav>

  <!-- Main navigation -->
  <nav id="main-nav">
    <div class="main-container">
      <div class="nav-content">
        <a href="/"
          ><img class="Logo" src="/images/Logo.png" alt="logo fullstock"
        /></a>
        <nav class="nav">
          <!-- Productos NAV -->
          <% categories.forEach((category) => { %>
          <a href="/categories/<%=category.id%>" class="navItem"
            ><%=category.name%></a
          >
          <% }); %>
          <a href="#footer" class="navItem">Compañia</a>
        </nav>

        <!-- botones derecha -->
        <h2 id="frame9">
          <div class="frame8">
            <a class="Button-Search">
              <img
                class="button-search"
                src="/images/Button-Search.png"
                alt="button search"
              />
            </a>
            <a href="/login" class="Button-login">
              <img
                class="button login"
                src="/images/Button-login.png"
                alt="button login"
              />
            </a>
          </div>
          <div class="vector1">|</div>
          <a href="/cart" class="button">
            <img
              class="shooping-cart"
              src="/images/Button-shop.png"
              alt="boton de carrito de compras"
            />
          </a>
        </h2>
      </div>
    </div>
  </nav>
</header>
<section class="cart">
  <div class="cart-content">
    <div class="frame70">
      <!-- shopping cart -->
      <h2 class="cart-h2">Carrito de compras</h2>
      <div class="frame60">
        <!-- Productos -->
        <% cart.forEach((item) => { %>
        <div class="cartItem">
          <img src="<%=item.imageURL%>" alt="%=item.name%>" />
          <div class="frame63">
            <div class="frame65">
              <h2 class="frame65-h2"><%=item.name%></h2>
              <button class="delete-button">
                <img src="/images/borrar.png" alt="boton de borrar" />
              </button>
            </div>
            <div class="frame66">
              <h2 class="frame66-h2"><%=item.price%></h2>
              <div class="frame69">
                <button>
                  <img src="/images/menos.png" alt="signo de menos" />
                </button>
                <div class="frame51">1</div>
                <button>
                  <img src="/images/mas.png" alt="signo de mas" />
                </button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <br />
        <hr />
        <br />
        <!-- Total to pay -->
        <div class="frame67">
          <p class="frame67-parr">Total</p>
          <p class="frame67-parr"><%=total%></p>
        </div>
        <br />
        <hr />
        <br />
        <div class="frame68">
          <a href="/cart/checkout"><button>Continuar Compra</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="Footer">
  <div class="content">
    <div class="frame10">
      <div class="frame24">
        <!-- Tienda -->
        <div class="frame16">
          <h2 class="tienda">Tienda</h2>
          <div class="frame20">
            <h2 class="polos">Polos</h2>
            <h2 class="tazas">Tazas</h2>
            <h2 class="stickers">Stickers</h2>
          </div>
        </div>

        <!-- Compañía -->
        <div class="frame16">
          <h2 class="compania">Compañía</h2>
          <div class="frame20">
            <h2 class="quienes-somos">Quiénes somos</h2>
            <h2 class="terminos-condiciones">Términos y condiciones</h2>
            <h2 class="privacidad">Privacidad</h2>
          </div>
        </div>

        <!-- Conecta -->
        <div class="frame17">
          <h2 class="conecta">Conecta</h2>
          <div class="frame20">
            <h2 class="contactanos">Contáctanos</h2>
            <h2 class="facebook">Facebook</h2>
            <h2 class="instagram">Instagram</h2>
          </div>
        </div>
      </div>

      <!-- Suscripción -->
      <div class="frame21">
        <h2 class="suscribete">Suscríbete a nuestro boletín</h2>
        <p class="ultimas-ofertas">
          Recibe las últimas ofertas y descuentos en tu correo semanalmente.
        </p>
        <form class="frame23" action="subscribirse" method="post">
          <input class="input email" type="email" name="email" />
          <button class="subscribirse butt" type="submit">Subscribirse</button>
        </form>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <p class="copyright">Todos los derechos reservados © Full Stock</p>
  </div>
</footer>
