<header>
  <!-- Top navigation -->
  <nav id="top-nav">
    <div class="nav-container">
      <div class="actions">
        <a href="/login" class="login">Iniciar sesión</a>
        <a href="/signup" class="signup">Crear cuenta</a>
      </div>
    </div>
  </nav>

  <!-- Main navigation -->
  <nav id="main-nav">
    <div class="main-container">
      <div class="main-content">
        <!-- logo fullstock -->
        <a href="/"
          ><img class="Logo" src="/images/Logo.png" alt="logo fullstock"
        /></a>
        <!-- botones de navegacion -->
        <nav class="nav">
          <!-- Productos NAV -->
          <% categories.forEach((category) => { %>
          <a href="/categories/<%=category.id%>" class="navItem"
            ><%=category.name%></a
          >
          <% }); %>
          <a href="#footer" class="navItem">Compañia</a>
        </nav>

        <!-- botones derecha -->
        <div class="frame9">
          <div class="frame8">
            <a class="Button-Search">
              <img
                class="button-search"
                src="/images/Button-Search.png"
                alt="button search"
              />
            </a>
            <a href="/login" class="Button-login">
              <img
                class="button login"
                src="/images/Button-login.png"
                alt="button login"
              />
            </a>
          </div>
          <div class="vector1">|</div>
          <a href="/cart" class="button">
            <img
              class="shooping-cart"
              src="/images/Button-shop.png"
              alt="boton de carrito de compras"
            />
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<section class="Hero">
  <!-- Fondo de pantalla -->
  <img class="background" src="/images/fondo.jpg" alt="fondo laptop y libros" />
  <div class="hero-container">
    <div class="hero-content">
      <h2 class="new-products">Nuevos productos disponibles</h2>
      <p class="pequeño lote">
        Un pequeño lote de increíbles productos acaba de llegar. Agrega tus
        favoritos al carrito antes que se agoten
      </p>
      <button class="comprar">Comprar ahora</button>
    </div>
  </div>
</section>
<section class="category">
  <div class="container">
    <!-- Categorias -->
    <div class="categories">
      <div class="categories__header">
        <h2 class="categories__title">Compra por categoría</h2>
        <p class="categories__description">
          Explora nuestra selección de productos especialmente diseñados para
          desarrolladores web. Encuentra lo que buscas navegando por nuestras
          categorías de polos, tazas, stickers y más.
        </p>
      </div>

      <div class="categories__container">
        <!-- categoria Polos, tazas y stickers -->
        <% categories.forEach((category) => { %>
        <a href="/categories/<%=category.id%>">
          <div class="category-card">
            <div class="category-card__header">
              <img
                class="category-card__image"
                src="<%=category.imageURL%>"
                alt="<%=category.name%>"
              />
            </div>
            <div class="category-card__details">
              <h3 class="category-card__title"><%= category.name %></h3>
              <p class="category-card__description">
                <%= category.description %>
              </p>
            </div>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
  </div>
</section>
<section class="Features">
  <div class="Features-container">
    <!-- Promesas de calidad -->
    <div class="content">
      <h2 class="quality promese">Nuestra Promesa de Calidad</h2>
      <div class="frame10">
        <div class="frame 16">
          <img class="truck" src="/images/truck.png" alt="truck" />
          <h2 class="entrega rapida">Entrega rápida</h2>
          <p class="entrega rapida parr">
            Recibe tus productos en tiempo récord, directo a tu puerta, para que
            puedas disfrutar de ellos cuanto antes.
          </p>
        </div>
        <div class="frame 17">
          <img class="polo" src="/images/polo2.png" alt="polo" />
          <h2 class="Satisfacción">Satisfacción Garantizada</h2>
          <p class="Satisfacción parr">
            Tu felicidad es nuestra prioridad. Si no estás 100% satisfecho,
            estamos aquí para ayudarte con cambios o devoluciones.
          </p>
        </div>
        <div class="frame 18">
          <img class="liston" src="/images/liston.png" alt="liston" />
          <h2 class="alta calidad">Materiales de Alta Calidad</h2>
          <p class="alta calidad parr">
            Nos aseguramos de que todos nuestros productos estén hechos con
            materiales de la más alta calidad.
          </p>
        </div>
        <div class="frame 9">
          <img class="foco" src="/images/foco.png" alt="foco" />
          <h2 class="diseños">Diseños Exclusivos</h2>
          <p class="diseños parr">
            Cada producto está diseñado pensando en los desarrolladores, con
            estilos únicos que no encontrarás en ningún otro lugar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="Footer">
  <div class="footer-content">
    <div class="frame10">
      <div class="frame24">
        <!-- Tienda -->
        <div class="frame16">
          <h2 class="tienda">Tienda</h2>
          <div class="frame20">
            <h2 class="polos">Polos</h2>
            <h2 class="tazas">Tazas</h2>
            <h2 class="stickers">Stickers</h2>
          </div>
        </div>

        <!-- Compañía -->
        <div class="frame16">
          <h2 class="compania">Compañía</h2>
          <div class="frame20">
            <h2 class="quienes-somos">Quiénes somos</h2>
            <h2 class="terminos-condiciones">Términos y condiciones</h2>
            <h2 class="privacidad">Privacidad</h2>
          </div>
        </div>

        <!-- Conecta -->
        <div class="frame17">
          <h2 class="conecta">Conecta</h2>
          <div class="frame20">
            <h2 class="contactanos">Contáctanos</h2>
            <h2 class="facebook">Facebook</h2>
            <h2 class="instagram">Instagram</h2>
          </div>
        </div>
      </div>

      <!-- Suscripción -->
      <div class="frame21">
        <h2 class="suscribete">Suscríbete a nuestro boletín</h2>
        <p class="ultimas-ofertas">
          Recibe las últimas ofertas y descuentos en tu correo semanalmente.
        </p>
        <form class="frame23" action="subscribirse" method="post">
          <input class="input email" type="email" name="email" />
          <button class="subscribirse butt" type="submit">Subscribirse</button>
        </form>
      </div>
    </div>

    <div class="copyright">
      <p class="p-copyright">Todos los derechos reservados © Full Stock</p>
    </div>
  </div>
</footer>
